/*  ===  CAROUSEL  ===
******************************************* */
#carousel,
.scene,
.category {
    position: relative;
}


/* Dodajte stilove za progres bar */
.progress-bar-container {
    position: absolute;
    top: -1.1vh;
    left: 0;
    width: 105%;
    /* background-color: #e0e0e0; */
    height: 1px;
    overflow: hidden;
    z-index: 99999;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #ff0000;
    transition: width 3.2s linear;
    /* Mora odgovarati intervalu u startCarousel funkciji */
}


.carousel,
.carousel__cell,
.category::before,
.category::after {
    position: absolute;
}


.scene {
    width: 52vw;
    height: 29vw;
    margin: 1.2vh auto;
    /* perspective: 2800px; */
    /* perspective-origin: 50% 50%; */
}

.carousel {
    width: 100%;
    height: 100%;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    /* transition: transform 1s ease; */
    transition: 0.16s all cubic-bezier(0.4, 0.0, 0.2, 1);
}

.carousel__cell {
    width: 100%;
    height: 100%;
    border: 1px solid #a3a3a3;
    /* opacity: 0.95; */
    transition: transform 1s, opacity 0.3s;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    backface-visibility: hidden;
}



/* .carousel__cell:last-child {
    z-index: 999;
    pointer-events: auto;
}*/

.food {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
}


.carousel_control {
    padding: 0 1rem;
    /* min-block-size: 3.2dvb; */
    height: 2.5vh;
}

.carousel_control.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 15px -3px, rgba(0, 0, 0, 0.04) 0px 4px 6px -2px;
}

.button {
    width: 9vw;
    border: none;
}

.stop_play {
    width: 3vw;
}

.line_img {
    width: 25vw;
    opacity: 0.3;
}


/* category description */
.categoy_description_box,
.chooseBox {
    /* min-block-size: 5dvb; */
    height: 4vh;
}

.category {
    color: #2b2a1c;
    z-index: 1;
    border-bottom: 1px solid #260a0a;
}

.category::before,
.category::after {
    content: "";
    top: 50%;
    display: block;
    width: 10%;
    height: 0.1rem;
    background-color: #892624;
}

.category::before {
    left: 105%;
}

.category::after {
    right: 105%;
}


.description_content {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #1b121c;
    padding: 0 0.2rem;
}

.description_content .rotateImg {
    width: 2vw;
    margin: 0 0 0 0.8rem;
}

.description_content .dotsImg {
    width: 0.9vw;
    margin: 0 0.8rem 0 0;
}

.rotate {
    transform: rotate(90deg);
}

/* .description {
    white-space: nowrap;
    text-align: right;
    animation: marquee 15s linear infinite paused;
} */

@keyframes marquee {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}




.bell {
    width: 11vw;
    position: absolute;
    right: 0;
    bottom: -45px;
    z-index: 2;
}