/*  ===  DATA  ===
******************************************* */
.data-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.item {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: #fff;
}

.activeData {
    transform: translateX(0%) translateZ(0);
    transition: 0.2s all cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 2;
}

.prevData {
    transform: translateX(-100%) translateZ(0);
    transition: 0.2s all cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 1;
}

.nextData {
    transform: translateX(100%) translateZ(0);
    transition: 0.2s all cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 1;
}

.description_content {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #1b121c;
}

.rotateImg {
    width: 2vw;
    margin: 0 0 0 0.8rem;
}

.summary {
    color: rgb(255 255 255 / 90%);
    width: 100%;
    /* min-block-size: 5dvb; */
    height: 4vh;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.dotsImg {
    width: 0.9vw;
    margin: 0 0.8rem 0 0;
}

.itemDiv {
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* grid-template-columns: 42% 58%; */
    overflow: hidden;
    box-shadow: 4px 4px 2px #f1f0f0;
    margin-bottom: 1rem;
}

.itemDiv img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0px 10% 10% 0px;
}

.textContainerDiv {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem 0 1rem;
    background: linear-gradient(180deg, rgba(177, 177, 177, 0.09) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(2, 0, 36, 0.05) 100%);
    width: 100%;
}

.plus {
    fill: #053a5f;
    fill: #11161d;
    width: 4vw;
    margin-right: 4px;
}

.quantity,
.quantityValue {
    font-size: 4.5vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.backgroundDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Crna poluprozirna pozadina */
    z-index: 1;
    /* Manji z-index od descriptionDiv */
    z-index: 9999;
}

.descriptionDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 85%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
}

.descriptionDiv img {
    border-radius: 10%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.bottomDiv {
    display: grid;
}

.bottomDiv .periphrasis {
    margin-bottom: 0.5rem;
    padding: 0;
    /* font-size: 1.6rem; */
    font-weight: normal;
}

.bottomDiv .reference {
    margin: 1rem 0 0.5rem;
    font-size: 3.8vw;
    color: #11161d;
    font-weight: 600;
    border-bottom: 1px solid #37474F;
    padding-bottom: 0.4rem;
}

.bottomDiv .drink {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}


.bottomDiv ul {
    list-style-position: inside;
    padding: 0.5rem 0;
}

.bottomDiv ul li {
    margin-bottom: 0.5rem;
}

.bottomDiv_button {
    font-size: 1.8rem;
    color: #fff;
}

.bottomDiv_button .back,
.bottomDiv_button .basket {
    font-size: 4vw;
    color: #590002;
    padding: 0.5rem 1rem;
    /* background-color: #590002; */
    letter-spacing: 0.1rem;
    font-weight: bold;
    border: 2px solid #590002;
}

.bottomDiv_button .back {
    justify-self: end;
    padding: 0.5rem 2rem;
}

.g_2_1.bottomDiv_button .back {
    justify-self: auto;
}

.slogan p {
    font-size: 5.2vw;
    margin: 2vh 0 8.5vh 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.call_us {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    height: 7vh;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 5vw;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    z-index: 2;
}


.btn_left,
.btn_right {
    width: 6.5vw;
    align-self: center;
    justify-self: center;
    opacity: 0.7;
}

.btn_left {
    margin-right: 2vw;
}

.btn_right {
    margin-left: 2vw;
}

.callUs_btnList {
    justify-self: center
}

#callUs_btnList img {
    width: 1.6vw;
}

#callUs_btnImg {
    width: 18vw;
    height: 7vh;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 100ms ease;
}

#callUs_btnImg img {
    width: 55%;
}

#callUs_btnImg.translateY {
    transform: translateY(100%);
    transition: all 0ms ease;
}

.operater {
    width: 29vw;
    position: absolute;
    right: -1vw;
    bottom: -1vh;
    transition: all 100ms ease;
    z-index: 3;
}

.operater.translateY {
    transform: translateY(100%);
}

.operatorService {
    position: absolute;
    bottom: 31vw;
    right: 20vw;
    color: #121212;
    font-size: 5vw;
    z-index: 3;
    font-weight: 600;
}

.callUs_btn {
    height: 8vw;
    width: 120%;
    text-align: center;
    border: 2px solid #121212;
    background: #ffffff;
    z-index: 3;
}