button,
#srButton,
/* input[type="radio"], */
input[type="checkbox"] {
    all: unset;
}

[type=radio] {
    display: none;
    z-index: 200;
    position: relative;
    top: -60px;
}


img,
button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}


.flex {
    display: flex;
}


.active {
    border-top: 1px solid #700c15;
    border-bottom: 3px solid #2e0000;
    opacity: 1;
    /* border-radius: 1rem; */
    box-shadow: 2px 2px 3px #BDBDBD;
}

.active_switcher_dark,
.active_switcher_light,
.active_switcher_middle {
    opacity: 1;
    border-radius: 0.5rem;
}

.active_switcher_dark {
    border-top: 3px solid #11161d;
    border-bottom: 5px solid #11161d;
}

.active_switcher_light {
    border-top: 3px solid #2e0000;
    border-bottom: 5px solid #2e0000;
}

.active_switcher_middle {
    border-top: 3px solid #091f2a;
    border-bottom: 5px solid #091f2a;
}


.noneDisplay {
    display: none;
}


/*  ===  HEADER  ===
******************************************* */


/*  ===  CAROUSEL  ===
******************************************* */


/*  ===  INFO  ===
******************************************* */


/*  ===  DATA  ===
******************************************* */