/* Stilovi za uređaje u landscape orijentaciji i širinu veću od 500px */


/*******************************************/
/* primer samo za landscape
/*******************************************/
/* @media screen and (orientation: landscape) and (min-width: 500px) {
    .questionnaire {
        display: grid;
    }
} */


/*******************************************/
/* za oba slučaja landscape i portrait
/*******************************************/
@media screen and (min-width: 500px) {
    .questionnaire {
        display: grid;
    }


    /*  ===  HEADER  ===
    ******************************************* */


    /*  ===  CAROUSEL  ===
    ******************************************* */


    /*  ===  INFO  ===
    ******************************************* */


    /*  ===  DATA  ===
    ******************************************* */

}


/*******************************************/
/* Ako je visina viewporta oko 800px
/*******************************************/
@media (min-height: 700px) {
    /* .content-container {
        top: calc(41.1vh);
    } */

    /*  ===  HEADER  ===
    ******************************************* */


    /*  ===  CAROUSEL  ===
    ******************************************* */


    /*  ===  INFO  ===
    ******************************************* */


    /*  ===  DATA  ===
    ******************************************* */

}

/*******************************************/
/* Ako je visina viewporta oko 680px
/*******************************************/
@media (max-height: 680px) {
    .scene {
        width: 180px;
        height: 110px;
    }


    .info img {
        width: 30rem;
    }


    /*  ===  HEADER  ===
    ******************************************* */


    /*  ===  CAROUSEL  ===
    ******************************************* */


    /*  ===  INFO  ===
    ******************************************* */


    /*  ===  DATA  ===
    ******************************************* */


}


/*******************************************/
/* Ako je visina viewporta oko 
/*******************************************/
@media (max-height: 570px) {

    .scene {
        width: 150px;
        height: 90px;
    }

    .carousel_control {
        height: 1.5rem;
    }

    .button {
        width: 4rem;
    }

    .stop_play {
        width: 1.1rem;
    }

    .logo {
        align-self: end;
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
    }

    .info img {
        width: 25rem;
    }


    /*  ===  HEADER  ===
    ******************************************* */


    /*  ===  CAROUSEL  ===
    ******************************************* */
    .categoy_description_box {
        height: 3.5rem;
    }

    .description_content {
        height: 3.5rem;
    }


    /*  ===  INFO  ===
    ******************************************* */


    /*  ===  DATA  ===
    ******************************************* */

}