/*  ===  DATA  ===
******************************************* */
.data-container {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
}

/* .content-container {
    gap: 1rem;
    transition: opacity 0.1s step-end;
    padding: 0 0 1rem 0;
}

.content-container.opacity {
    opacity: 0;
    transition: opacity 0.2s step-start;
} */

.itemDiv {
    display: grid;
    grid-template-columns: 45% 55%;
    overflow: hidden;
    box-shadow: 4px 4px 2px #f1f0f0;
    margin-bottom: 1rem;
}

.itemDiv img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.textContainerDiv {
    display: grid;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    background: linear-gradient(180deg, rgba(177, 177, 177, 0.06) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(2, 0, 36, 0.07) 100%);
    width: 100%;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.backgroundDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Crna poluprozirna pozadina */
    z-index: 1;
    /* Manji z-index od descriptionDiv */
}

.descriptionDiv {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 85%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 20;
}

/* .topDiv img {
    width: 250px;
  } */

.bottomDiv {
    display: grid;
    /* font-size: 200%; */
}

/* .bottomDiv .title {
    margin: 1rem 0 0.5rem;
  } */

.bottomDiv .periphrasis {
    margin-bottom: 0.5rem;
    padding: 0;
    /* font-size: 1.6rem; */
    font-weight: normal;
}

.bottomDiv .reference {
    margin: 1rem 0 0.5rem;
    font-size: 3.6vw;
    color: #11161d;
    font-weight: 600;
    border-bottom: 1px solid #37474F;
    padding-bottom: 0.4rem;
}

.bottomDiv .drink {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

/* .bottomDiv .cost {
    justify-self: end;
    margin-top: 2rem;
  } */

.bottomDiv ul {
    /* font-size: 1.6rem; */
    /* list-style: none; */
    list-style-position: inside;
    padding: 0.5rem 0;
}

.bottomDiv ul li {
    margin-bottom: 0.5rem;
}

.bottomDiv_button {
    font-size: 1.8rem;
    color: #fff;
}

.bottomDiv_button .back,
.bottomDiv_button .basket {
    font-size: 4vw;
    color: #fff;
    padding: 0.5rem 1rem;
    background-color: #12374c;
    letter-spacing: 0.15rem;
}

.bottomDiv_button .back {
    justify-self: end;
    padding: 0.5rem 2rem;
}

.g_2_1.bottomDiv_button .back {
    justify-self: auto;
}