/* Stilovi za uređaje u landscape orijentaciji i širinu veću od 500px */


/*******************************************/
/* primer samo za landscape
/*******************************************/
/* @media screen and (orientation: landscape) and (min-width: 500px) {
    .questionnaire {
        display: grid;
    }
} */


/*******************************************/
/* za oba slučaja landscape i portrait
/*******************************************/
@media screen and (min-width: 500px) {
    .questionnaire {
        display: grid;
    }
}


/*******************************************/
/* Ako je visina viewporta oko 680px */
/*******************************************/
/* @media (max-height: 650px) {
    .scene {
        width: 180px;
        height: 110px;
    }
} */



@media screen and (min-width: 370px) {

    /* .header {
        height: 7.5vh;
    } */

    .scene {
        width: 165px;
        min-block-size: 15dvb;
    }

    /* .info img {
        width: 34rem;
    } */

}


/*******************************************/
/* Ako je visina viewporta oko 
/*******************************************/
@media (max-height: 620px) {

    .scene {
        width: 150px;
        height: 20vh;
    }

    .carousel_control {
        height: 1.5rem;
        /* align-items: flex-start; */
    }

    .button {
        width: 2.8rem;
    }

    .stop_play {
        width: 0.9rem;
    }

    .logo {
        align-self: end;
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
    }

    /* .info img {
        width: 25rem;
    } */

    .categoy_description_box {
        height: 3rem;
    }

    /* .description_content {
        height: 3rem;
    } */

}